<head>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="sd6r18b9ijjrxsk"></script>
</head>

<h1>Friends</h1>

<tbody>
<div id="columns">
  <div id="side">

    <%= render_navigation %>

  </div>
  <div id="main">
    <% if @users.empty? %>
    <H1>You dont have any friends yet</H1>
    <% else %>
        <table>

        <% @users.each do |user| %>
            <tr>
              <td><%= user.username.blank? ? user.email : user.username %></td>

              <td><%= button_to 'Remove from friends', remove_friendship_user_path(user.id), remote: false, method: :delete, data: {confirm: 'Are you sure?'} %></td>

              <td><a href="#" data-dropbox-user-id=<%=user.id%>>Send File</a></td>


            </tr>
        <% end %>
        </table>
    <% end %>

  </div>
</div>




</tbody>


<br>
