<h1>Not friends</h1>

<tbody>

  <div id="main">
    <% if @users.empty? %>
        <H1>There are no users to send invite to</H1>
    <% else %>
        <table>

          <% @users.each do |user| %>
              <tr>
                <td><%= user.username.blank? ? user.email : user.username %></td>

                <td><%= button_to 'Invite to friends', invite_user_path(user.id), remote: false, method: :post, data: {confirm: 'Are you sure?'} %></td>

              </tr>
          <% end %>
        </table>
    <% end %>

  </div>
</div>


</tbody>


<br>
