<h1>outbound invites</h1>
<tbody>
<div id="columns">
  <div id="side">

    <%= render_navigation %>

  </div>
  <div id="main">

    <% @users.each do |user| %>

        <tr>
          <td><%= user.id %></td>
          <td><%= user.username.blank? ? user.email : user.username %></td>

        </tr>
    <% end %>

  </div>
</div>

</tbody>
</table>

