/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$color_sisal_approx: #d6d1b9;
$color_sand_dune_approx: #7f7669;
$color_kelp_approx: #23ff24;

#side {
  float: center;
  padding: 1em 2em;
  width: 95%;
  background: #141;
  color:     white;

  form, div {
    display: inline;
  }

  input {
    font-size: small;
  }

  #cart {
    font-size: smaller;
    color:     white;

    table {
      border-top:    1px dotted #595;
      border-bottom: 1px dotted #595;
      margin-bottom: 10px;
    }
  }

  #navigation {
    float: left;
    width: 120px;
    ul {
      padding-left: 5px;
      ul {
        padding-left: 20px;
      }
    }
    a {
      text-decoration: none;
      color: $color_sand_dune_approx;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        text-decoration: underline;
      }
    }
    li {
      border: medium none;
      list-style-image: none;
      list-style-type: none;
      padding: 2px;
      li {
        font-size: 10pt;
      }
      a.selected {
        color: $color_kelp_approx;
        text-decoration: underline;
      }
    }
  }
}



.flash-message {
  &.error {
    border: solid 4px #900;
    background-color: #FF6565;
  }
  &.notice {
    border: solid 4px #26722D;
    background-color: #A4E7A0;
  }
  color: black;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  margin: 20px;
  p {
    font-size: 110%;
    margin: 15px 0;
  }
}


#notice {
  color: #000 !important;
  border: 2px solid green;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;

}

#error {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;

}


#alert {
  color: #000 !important;
  border: 2px solid yellow;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;

}


.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }


    ul {
      padding: 0;
      li {
        list-style: none;
        a , h2{
          color: #bfb;
          font-size: small;
        }
      }
    }


  }
}